<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>16/10/18 05:48:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AutoFillForm.LaunchBrowser()[pri:0, instance:autofillformon_url.AutoFillForm@69b794e2]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@921760190</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/10/18 05:51:03</td>   <td>139406</td> <td>&nbsp;</td><td title="&lt;&lt;AutoFillForm.close()[pri:0, instance:autofillformon_url.AutoFillForm@69b794e2]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@921760190</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/10/18 05:48:52</td>   <td>8217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoFillForm.fillForm()[pri:0, instance:autofillformon_url.AutoFillForm@69b794e2]">fillForm</td> 
  <td>main@921760190</td>   <td></td> </tr>
</table>
